/.idea/

/.yarn/*
!/.yarn/cache/
!/.yarn/patches/
!/.yarn/releases/
!/.yarn/plugins/
!/.yarn/sdks/
!/.yarn/versions/

/.nuxt/
/node_modules/
/yarn-debug.log
/yarn-error.log

/dist/
/vendor/

/logs/

.DS_Store
